<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li><a href="about">about us</a></li>
            <li><a href="products">our services</a></li>
            <li><a href="privacy-policy">privacy policy</a></li>
            <li><a href="#">careers</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>quick links</h4>
          <ul>
            <li><a href="https://lookup.simply-easier-payments.com/PaymentLookup/Provider/hawaiian_insurance/PaymentLookup.faces">make a payment</a></li>
            <li><a href="find-agent">find an agent</a></li>
            <li><a href="#">claims services</a></li>
            <li><a href="/agent-portal">agent portal</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Support</h4>
          <ul>
            <li><a href="/frequently-asked-questions">FAQ</a></li>
            <li><a href="/contact-us">contact us</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>visit us</h4>
          <div class="visit-us">
            <p>
              <i class="fas fa-home"></i> Pioneer Plaza<br>
              900 Fort Street Mall, Ste. 1645<br>
              Honolulu, HI 96813
            </p>
            <p>
              <i class="far fa-clock"></i>
              Mon - Thurs: 7AM - 4PM<br>
              Friday: 7:15AM - 3PM
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  