<%- include('partials/head') %>

<div class="about-section">
  <div class="nav-about">
    <h2>About Us</h2>
    <h6>
        Home > About Page
    </h6>
    </div>
    <div class="about-container">
    <h1>Protecting The People of Hawaii Since 1915</h1>

    <div class="about-ratings">
    <p>Hawaiian Insurance and Guaranty, Limited, commonly referred to as HIG is one of Hawaii’s oldest insurance companies. 
      Since 1915, HIG has stood behind the protection and  security Hawaii residents have looked to for their insurance needs. 
      A big part of HIG’s commitment is to be there for the people of Hawaii. Our pledge to work diligently to be an important
      insurance resource into the future is carried out by HIG’s experienced management team. Grateful for the support Hawaii
      residents and communities have shown to us over the years, HIG is dedicated to supporting the organizations and people 
      in our island communities. HIG holds an A rating from Demotech, Inc. and a B rating from A.M. Best Company and is a member
      of the Ocean Harbor Insurance Group.*.
      <br>
      <br>
       Some of the community organizations we have supported include:
    </p>
      <div class="about-logos">
      <a href="https://www.demotech.com/financial-stability-ratings/" target="_blank">
        <img src="https://www.demotech.com/wp-content/uploads/2022/02/FSR-A.png" alt="Demotech Rating Logo" class="demotech-logo">
      </a>
      <a href="https://web.ambest.com/ratings-services" target="_blank">
      <img src="images/am-best-logo.svg" alt="AM Best Rating Logo" class="ambest-logo">
      </a>
      </div>
    </div>
    
    <div class="about-organizations">
      <ul>
          <li>U.S. Vets</li>
          <li>Waipahu AJA Baseball</li>
          <li>Domestic Violence Action Center</li>
          <li>Filipino-American Association</li>
          <li>Boys and Girls Club of Maui</li>
          <li>Easter Seals Hawaii</li>
          <li>Keiki O Ka `Āina</li>
          <li> Maui High School Foundation</li>
          <li>West Oahu Baseball</li>
          <li>Filipino Chamber of Commerce</li>
          <li>Muscular Dystrophy Association</li>
        </ul>

        <img src="https://images.unsplash.com/photo-1707454301491-3ae3acea8aa7?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Family" class="family-logo">
      </a>
    </div>
    <div class="about-oh">
      <p>
        Our operations and team are housed in Pioneer Plaza in Downtown Honolulu. HIG knows what it takes to be a long term provider of essential
        insurance products and services in Hawaii. With most of our Team Members born and raised in the Islands, we understand your island lifestyle 
        needs and are dedicated to serving the people of Hawaii.
      </p>
      <p>
        <img src="images/ocean-harbor.svg" alt="Ocean Harbot" class="oh-logo">
        <br>
        * The Ocean Harbor Insurance Group consists of five insurance companies, writing mainly homeowners and automobile business. 
        The group, which actively does business in more than a dozen states, writes over $300 million of combined premium and is a top 100 writer of
        homeowners business in the United States.  Our focus is on writing property business in weather exposed regions where our capacity is valued
        and we can fill a market need. Our property business is primarily in Hawaii, Florida, New York, the Midwest and Pacific Northwest, with a small
        yet growing book of business in South Carolina, Texas and Mississippi.  Our automobile business remains dominated by Florida non-standard auto
        with smaller books of business in other states.
      </p>
    </div>
  </div>
  <div class="agent">
    <div class="get-quote">
    <h3>Get a Quote Today!</h3>
    <p>Find an Agent near you to get a free custom quote.</p>
  </div>
  <a href="/find-agent">
    <button class="find-agent">
        Find an Agent
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
    </button>
</a>
</div>

<%- include('partials/footer') %>
