<%- include('partials/head') %>
        <div class="nav-portal">
            <h2>Agent Portal</h2>
            <h6>
                Home > Agent Portal
            </h6>
            </div>
            <div class="agent-portal" style="text-align: center; padding: 20px;">
                <a title="Click to Login" href="https://hi.gnwins.com/" target="_blank" rel="noopener"
                    style="display: inline-block; margin: 10px 20px; padding: 10px 30px; font-size: 1rem; font-weight: bold; color: #0072b5; background-color: transparent; text-decoration: none; border: 2px solid #0072b5; border-radius: 15px; transition: all 0.3s ease;"
                    onmouseover="this.style.backgroundColor='#0072b5'; this.style.color='white';"
                    onmouseout="this.style.backgroundColor='transparent'; this.style.color='#0072b5';">
                    HIG ICD System Login
                </a>
                <a title="Click to Login" href="https://app.endeavor.cloud" target="_blank" rel="noopener"
                    style="display: inline-block; margin: 10px 20px; padding: 10px 30px; font-size: 1rem; font-weight: bold; color: #0072b5; background-color: transparent; text-decoration: none; border: 2px solid #0072b5; border-radius: 15px; transition: all 0.3s ease;"
                    onmouseover="this.style.backgroundColor='#0072b5'; this.style.color='white';"
                    onmouseout="this.style.backgroundColor='transparent'; this.style.color='#0072b5';">
                    HIG Endeavor System Login
                </a>
            </div>
            
<div class="agent">
    <div class="get-quote">
    <h3>Get a Quote Today!</h3>
    <p>Find an Agent near you to get a free custom quote.</p>
</div>
    <button class="find-agent">
        Find an Agent
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
    </button>
</div>

<%- include('partials/footer') %>

