<%- include('partials/head') %>
        <div class="nav-portal">
            <h2>Find Agent</h2>
            <h6>
                Home > Find Agent > Kailua-Kona
            </h6>
            </div>
            <div class="card-container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"> Aloha Insurance Services, Inc.</h5>
                                <p class="card-text">
                                    <strong>Address:</strong> 75-5931 Walua Road<br>
                                    <strong>City:</strong>   Kailua-Kona<br>
                                    <strong>State:</strong> HI<br>
                                    <strong>Zip Code:</strong> 96740<br>
                                    <strong>Phone Number:</strong> (808) 334-0044<br>
                                    <strong>Website:</strong> N/A
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">  Finance Insurance, Ltd.</h5>
                                <p class="card-text">
                                    <strong>Address:</strong> 75-5591 Palani Dr., #2004<br>
                                    <strong>City:</strong>   Kailua-Kona<br>
                                    <strong>State:</strong> HI<br>
                                    <strong>Zip Code:</strong> 96740<br>
                                    <strong>Phone Number:</strong> (808) 930-1222<br>
                                    <strong>Website:</strong> N/A
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">  Moa Insurance Services Hawai’i</h5>
                                <p class="card-text">
                                    <strong>Address:</strong> 75-6082 Alii Drive #E<br>
                                    <strong>City:</strong>   Kailua-Kona<br>
                                    <strong>State:</strong> HI<br>
                                    <strong>Zip Code:</strong> 96740<br>
                                    <strong>Phone Number:</strong> (808) 333-3456  <strong>Fax:</strong>(808) 333-3457<br>
                                    <strong>Website:</strong> http://www.moainsurancehawaii.com
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">  Mutual Underwriters</h5>
                                <p class="card-text">
                                    <strong>Address:</strong>74-5565 Luhia St., #A4A<br>
                                    <strong>City:</strong>   Kailua-Kona<br>
                                    <strong>State:</strong> HI<br>
                                    <strong>Zip Code:</strong> 96740<br>
                                    <strong>Phone Number:</strong> (808) 329-8689<br>
                                    <strong>Website:</strong> N/A
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
<%- include('partials/footer') %>

