<%- include('partials/head') %>

<div class="business-insurance-section">
    <div class="nav-business-insurance">
      <h2> Business Insurance</h2>
      <h6>
          Home > Products > Business Insurance
      </h6>
      </div>
      <div>
      <div class="business-insurance-top">  
        <table>
            <thead>
                <tr>
                    <th>Home Business</th>
                    <th>Business Owners</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <strong>Coverages*:</strong><br>
                        Business Personal Property<br>
                        Up to $1,000,000 Liability<br>
                    </td>
                    <td>
                        <strong>Coverages*:</strong><br>
                        Building<br>
                        Business Personal Property<br>
                        Up to $1,000,000 Liability
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Optional Coverages*:</strong><br>
                        Identity Fraud<br>
                    </td>
                    
                    <td>
                        <strong>Optional Coverages*:</strong><br>
                        Hurricane<br>
                        Employee Dishonesty<br>
                        Outdoor Signs<br>
                        Equipment Breakdown
                    </td>
                </tr>
                    <tr>
                        <td> <a href="/find-agent">
                             <button class="contact-agent">Contact an Agent</button> 
                             </a></td>

                        <td> <a href="/find-agent"> 
                             <button class="contact-agent">Contact an Agent</button>
                             </a></td>
                    </tr>
                <tr>
                    <td colspan="4">* All Additional and Optional Coverages are subject to policy limits in the policy or the limits purchased.</td>
                </tr>
            </tbody>
        </table>
          <div class="about-logos">
          <a href="https://www.demotech.com/financial-stability-ratings/" target="_blank">
            <img src="https://www.demotech.com/wp-content/uploads/2022/02/FSR-A.png" alt="Demotech Rating Logo" class="demotech-logo">
          </a>
          <a href="https://web.ambest.com/ratings-services" target="_blank">
          <img src="images/am-best-logo.svg" alt="AM Best Rating Logo" class="ambest-logo">
          </a>
          </div>
        </div>
        <div class="agent">
            <div class="get-quote">
            <h3>Get a Quote Today!</h3>
            <p>Find an Agent near you to get a free custom quote.</p>
          </div>
          <a href="/find-agent">
            <button class="find-agent">
                Find an Agent
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
          </a>
            </button>
        </div>

<%- include('partials/footer') %>
