<%- include('partials/head') %>

<div class="home-insurance-section">
    <div class="nav-home-insurance">
      <h2> Home Insurance</h2>
      <h6>
          Home > Products > Home Insurance
      </h6>
      </div>
      <div>

      <div class="home-insurance-top">  
        <table>
            <thead>
                <tr>
                    <th>Homeowners</th>
                    <th>Condo</th>
                    <th>Renter’s</th>
                    <th>Dwelling Fire</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <strong>Additional Coverages*:</strong><br>
                        Debris Removal<br>
                        Trees and Shrubs<br>
                        Credit Card and EFT
                    </td>
                    <td>
                        <strong>Additional Coverages*:</strong><br>
                        Add’l Living Expense<br>
                        Fair Rental Value<br>
                        Credit Card and EFT<br>
                        Loss Assessment
                    </td>
                    <td>
                        <strong>Additional Coverages*:</strong><br>
                        Credit Card and EFT<br>
                        Loss Assessment
                    </td>
                    <td>
                        <strong>Additional Coverages*:</strong><br>
                        Debris Removal<br>
                        Trees and Shrubs<br>
                        Improvements and Betterments<br>
                        Rental Value<br>
                        Additional Living Expense
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Optional Coverages*:</strong><br>
                        Hurricane<br>
                        Scheduled Personal Property
                    </td>
                    <td>
                        <strong>Optional Coverages*:</strong><br>
                        Hurricane
                    </td>
                    <td>
                        <strong>Optional Coverages*:</strong><br>
                        Hurricane
                    </td>
                    <td>
                        <strong>Optional Coverages*:</strong><br>
                        Hurricane<br>
                        Personal Liability
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Discounts:</strong><br>
                        Age of Home<br>
                        Security Systems<br>
                        Loss Free<br>
                        Newly Purchased Home<br>
                        Multi-Policies<br>
                        Superior Construction<br>
                        Premises Alarms<br>
                        Union Member
                    </td>
                    <td>
                        <strong>Discounts:</strong><br>
                        Condominium Security<br>
                        Loss Free<br>
                        Multi-Policy<br>
                        Premises Alarms<br>
                        Superior Construction<br>
                        Unit-Owners Secondary Residence
                    </td>
                    <td>
                        <strong>Discounts:</strong><br>
                        Loss Free
                    </td>
                    <td>
                        <strong>Discounts:</strong><br>
                        Age of Home<br>
                        Security Systems<br>
                        Loss Free<br>
                        Newly Purchased Home<br>
                        Multi-Policies<br>
                        Superior Construction<br>
                        Premises Alarms<br>
                        Course of Construction<br>
                        Steel Frame
                    </td>
                </tr>
                    <tr>
                        <td><a href="/find-agent"><button class="contact-agent">Contact an Agent</button></a></td>
                        <td><a href="/find-agent"><button class="contact-agent">Contact an Agent</button></a></td>
                        <td><a href="/find-agent"><button class="contact-agent">Contact an Agent</button></a></td>
                        <td><a href="/find-agent"><button class="contact-agent">Contact an Agent</button></a></td>
                    </tr>
                <tr>
                    <td colspan="4">* All Additional and Optional Coverages are subject to policy limits in the policy or the limits purchased.</td>
                </tr>
            </tbody>
        </table>
          <div class="about-logos">
          <a href="https://www.demotech.com/financial-stability-ratings/" target="_blank">
            <img src="https://www.demotech.com/wp-content/uploads/2022/02/FSR-A.png" alt="Demotech Rating Logo" class="demotech-logo">
          </a>
          <a href="https://web.ambest.com/ratings-services" target="_blank">
          <img src="images/am-best-logo.svg" alt="AM Best Rating Logo" class="ambest-logo">
          </a>
          </div>
        </div>
        <div class="agent">
            <div class="get-quote">
            <h3>Get a Quote Today!</h3>
            <p>Find an Agent near you to get a free custom quote.</p>
          </div>
          <a href="/find-agent">
            <button class="find-agent">
                Find an Agent
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
          </a>
        </div>

<%- include('partials/footer') %>
