<%- include('partials/head') %>

<div class="privacy-section">
  <div class="nav-privacy">
    <h2>Privacy Policy</h2>
    <h6>
        Home > Privacy Policy
    </h6>
    </div>
    <div class="policy-container">
    <div class="policy-head">
        <div class="policy-head-text">
            <p>Hawaiian Insurance and Guaranty, Limited, commonly referred to as HIG is one of Hawaii’s oldest insurance companies. 
            Since 1915, HIG has stood behind the protection and  security Hawaii residents have looked to for their insurance needs. 
            A big part of HIG’s commitment is to be there for the people of Hawaii. Our pledge to work diligently to be an important
            insurance resource into the future is carried out by HIG’s experienced management team. Grateful for the support Hawaii
            residents and communities have shown to us over the years, HIG is dedicated to supporting the organizations and people 
            in our island communities. HIG holds an A rating from Demotech, Inc. and a B rating from A.M. Best Company and is a member
            of the Ocean Harbor Insurance Group.*.
            <br>
            <br>
            <h3>Information We Collect</h3>
            </p>
            </div>
      <div class="policy-logos">
      <a href="https://www.demotech.com/financial-stability-ratings/" target="_blank">
        <img src="https://www.demotech.com/wp-content/uploads/2022/02/FSR-A.png" alt="Demotech Rating Logo" class="demotech-logo">
      </a>
      <a href="https://web.ambest.com/ratings-services" target="_blank">
      <img src="images/am-best-logo.svg" alt="AM Best Rating Logo" class="ambest-logo">
      </a>
      </div>
    </div>
    
    <div class="policy-terms">
        <p>
            In order to provide you with high quality products and services, we must collect and often share information about you that is not publicly available. We do this to
            <br>
            better serve you, to process your policy and requests quickly and to pay your claims. We collect and may share the following types of
            information about you:
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Information about your identity, such as your name, address, telephone number and social security number;
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Information we receive from you on applications or other insurance and account forms, such as your assets, income, claims history or medical history; and
            <br>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Information about your transactions and experiences with us, such as the products you purchased from us, your payment history, account balance,
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspand amounts you paid for insurance.
            <br><br>
            Should we need to verify or obtain additional information about you, we may contact outside sources, such as agents, brokers, administrators, 
            insurance support organizations,<br> consumer reporting agencies, medical providers and government reporting agencies. Information collected from 
            these outside sources may include your credit history, driving record,<br> claims history, employment information and medical reports. Information 
            obtained from outside sources may be retained by these outside sources and disclosed to other persons,<br> in accordance with applicable laws.
            <br>
            <br>  
        </p>
        <h3>How Your Information is Used</h3>
        <p style="padding-top: 1rem;">
            In many cases, it is necessary to share some or all of the information listed above to help us deliver the best possible services to you. These 
            disclosures are often necessary to<br> fulfill transactions you have requested and to service the insurance policies that
            you have applied for and/or purchased.
        </p>
        <h3>Service Providers</h3>
        <p style="padding-top: 1rem;">
            We may provide your information to trusted service providers outside of Hawaiian Insurance and Guaranty to provide operational and other support services.
            For example, we may<br> share information with your insurance agent or broker, claims adjusters and administrators, claims investigators, and outside companies 
            that perform administrative services on our behalf.<br> Other Permitted Disclosures. We may share your information to comply with legal and regulatory requirements
            and for other limited purposes that are required or permitted by law. <br>For example, we may share information about you to:
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Service and maintain your policy;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Process a transaction that you request;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Protect against fraud or criminal activity;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. Report account activity to credit bureaus;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. Comply with local, state or federal laws; and<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. Provide information requested by reinsurers, state insurance regulators and self-regulatory organizations,
            insurance support agencies and law enforcement agencies.<br><br>
            Under no circumstance do we sell or share your information to any party outside of Hawaiian Insurance and Guaranty for purposes of independently selling their 
            products or services to you.
        </p>
        <h3>Access to and Correction of Your Information</h3>
        <p style="padding-top: 1rem;">
            You may write to us if you have any questions about the information that we may have in our records about you or the identity of those persons to whom your 
            information was disclosed <br>during the two years prior to your request. If you wish, you may review this information in person or receive a copy at a reasonable charge.
             You can notify us in writing if you believe any<br> information should be corrected, amended, or deleted, and we will review your request. We will either make the requested
             change or explain why we did not do so. If we do not make the<br> requested change, you may submit a short written statement identifying the disputed information, which will 
             be included in all future disclosures of your information.
        </p>
        <h3>Confidentiality and Security of Information</h3>
        <p style="padding-top: 1rem;">
            Hawaiian Insurance and Guaranty dedicates significant resources to protect the security of your information. We restrict access to your information to those 
            individuals who need to know<br> that information to provide products or services to you. We also maintain physical, electronic, and procedural safeguards to protect
             your information and guard against its unauthorized use.
        </p>
    </div>
  </div>
  <div class="agent">
    <div class="get-quote">
    <h3>Get a Quote Today!</h3>
    <p>Find an Agent near you to get a free custom quote.</p>
  </div>
    <button class="find-agent">
        Find an Agent
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
    </button>
</div>

<%- include('partials/footer') %>
